#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  #employees {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  #employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #employees tr:nth-child(even){background-color: whitesmoke}
  #employees tr:hover {background-color: #ddd;}
  #employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    height: 40px;
    background-color: purple;
    color: white;
  }